simplified_ui false
pane_frames false
theme "default"
default_layout "compact"
default_mode "normal"
mouse_mode true
scroll_buffer_size 8192
copy_on_select true
scroll_back_editor "/run/current-system/sw/bin/hx"
styled_underlines true
session_serialization true
pane_viewport_serialization false
scrollback_lines_to_serialize 40
serialization_interval 1024 // seconds ~ 17 minutes
disable_session_metadata false
stacked_resize true
show_startup_tips true
show_release_notes false

ui {
    pane_frames {
        rounded_corners true
        hide_session_name false
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    session-manager { path "session-manager"; }
    // status-bar { path "status-bar"; }
    // strider { path "strider"; }
    // compact-bar { path "compact-bar"; }
}

keybinds clear-defaults=true {
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { CloseFocus; SwitchToMode "Normal"; }
        bind "Ctrl d" { Detach; }

        // Tab Manipulation
        bind "Ctrl t" { NewTab; SwitchToMode "Normal"; }
        bind "Ctrl r" { SwitchToMode "RenameTab"; TabNameInput 0; }

        // Shifting Focus
        bind "Ctrl y" { MoveFocus "Up"; }
        bind "Ctrl n" { MoveFocus "Left"; }
        bind "Ctrl i" { MoveFocus "Down"; }
        bind "Ctrl h" { MoveFocus "Right"; }
        bind "Ctrl e" { MoveFocusOrTab "Left"; }
        bind "Ctrl o" { MoveFocusOrTab "Right"; }

        // Session Manager
        bind "Ctrl w" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
    normal { }
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
    }

    //! Pane Mode
    shared_except "pane" "locked" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    pane {
        bind "Ctrl p" { SwitchToMode "Normal"; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
        bind "f" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "Space" { TogglePaneEmbedOrFloating; }
        bind "t" { NextSwapLayout; }
        bind "T" { TogglePaneFrames; SwitchToMode "Normal"; }

        // Moving panes
        bind "e" { MovePane "Left"; }
        bind "i" { MovePane "Down"; }
        bind "y" { MovePane "Up"; }
        bind "o" { MovePane "Right"; }

        // Moving panes across tabs
        bind "[" { BreakPaneLeft; }
        bind "]" { BreakPaneRight; }
        bind "(" { PreviousSwapLayout; }
        bind ")" { NextSwapLayout; }
    }
    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }

    //! Resize Mode
    shared_except "resize" "locked" {
        bind "Ctrl x" { SwitchToMode "Resize"; }
    }
    resize {
        bind "Ctrl x" { SwitchToMode "Normal"; }

        bind "e" { Resize "Increase Left"; }
        bind "i" { Resize "Increase Down"; }
        bind "y" { Resize "Increase Up"; }
        bind "o" { Resize "Increase Right"; }
        bind "E" { Resize "Decrease Left"; }
        bind "I" { Resize "Decrease Down"; }
        bind "Y" { Resize "Decrease Up"; }
        bind "O" { Resize "Decrease Right"; }
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }

    //! Search Mode
    shared_except "scroll" "locked" {
        bind "Ctrl s" { SwitchToMode "scroll"; }
    }
    scroll {
        bind "Ctrl s" { SwitchToMode "Normal"; }

        bind "Y" { HalfPageScrollUp; }
        bind "I" { HalfPageScrollDown; }

        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "M" { Search "up"; }
        bind "m" { Search "down"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "W" { SearchToggleOption "WholeWord"; }
        bind "S" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Scroll"; }
    }

    //! TMUX Mode (unchanged)
    shared_except "tmux" "locked" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
    tmux {
        bind "[" { SwitchToMode "Scroll"; }
        bind "Ctrl b" { Write 2; SwitchToMode "Normal"; }
        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "d" { Detach; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
    }
}
